.counter__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--spacing-medium);
}

.numeric__stepper-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
}

.add__button,
.subtract__button,
.add__button-limited,
.subtract__button-limited {
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-small);
  font-size: var(--font-size-medium);
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.counter__container button:hover {
  background-color: #000099;
  transition: all 0.3s ease;
}

.counter__container button:active {
  transform: scale(0.9);
  transition: all 0.2s ease;
}

.add__button:disabled,
.subtract__button:disabled,
.add__button-limited:disabled,
.subtract__button-limited:disabled {
  background-color: #9a9a9a;
  cursor: not-allowed;
}

.counter__number,
.limited__counter-number {
  background-color: var(--text-color);
  padding: var(--spacing-small);
  border-radius: 4px;
  font-size: var(--font-size-medium);
}

.counter__container p {
  font-size: var(--font-size-medium);
}
