* {
  list-style: none;
}

header {
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: var(--spacing-medium) var(--spacing-large);
  display: flex;
  align-items: center;
  font-family: sans-serif;
  position: static;
  top: 0;
  left: 0;
}

/* NAVBAR HEADING --------- */
.navbar__heading-container {
  flex-grow: 1;
}

.navbar__heading {
  font-size: var(--font-size-large);
  text-align: end;
}

.navbar__heading a {
  text-decoration: none;
  color: inherit;
}

/* HAMBURGER MENU ----------- */

/* BUTTON STYLES ------------ */
.navbar__button-container {
  flex-grow: 1;
}

.navbar__buttons {
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.navbar__button {
  color: inherit;
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--spacing-medium);
  border: none;
  font-size: var(--font-size-medium);
}

.navbar__buttons button {
  color: inherit;
  font-size: var(--font-size-medium);
  text-decoration: none;
  padding: var(--spacing-medium);
}

.navbar__button:hover {
  background-color: #0000be;
  transition: all 0.3s ease;
  cursor: pointer;
}

.navbar__button--active {
  background-color: #0000be;
}

/* STYLES FOR TOGGLE BUTTON ----------- */
.navbar__toggle-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__toggle-button {
  background-color: transparent;
  border: none;
  padding: var(--spacing-small);
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
}

.navbar__toggle-button:hover {
  background-color: #0000be;
  transition: all 0.3s ease;
}

.navbar__toggle-button:active {
  transform: scale(0.9);
  transition: scale 0.2s ease;
}

.navbar__toggle-logo {
  display: block;
  color: var(--text-color);
  visibility: visible;
}

.navbar__buttons {
  position: absolute;
  top: 0;
  left: -100%;
  width: 25%;
  flex-direction: column;
  transition: 1s;
  background-color: var(--primary-color);
}

.navbar__buttons--active {
  left: 0;
}
/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .navbar__buttons {
    width: 50%;
  }
}

@media screen and (max-width: 580px) {
  .navbar__buttons {
    width: 100%;
  }
}
