.search {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
  padding: var(--spacing-x-large) 0;
}

.search label {
  font-size: var(--font-size-medium);
}
.search__input {
  min-width: 300px;
  height: 32px;
  font-family: inherit;
  padding: 0 var(--spacing-small);
}

/* -------------------- */

.countries {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--spacing-small);
  padding: var(--spacing-x-large) var(--spacing-medium);
  justify-self: center;
}

.card {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  padding: var(--spacing-large) var(--spacing-medium);
  box-shadow: 2px 2px 2px black;
}

.flag-container {
  text-align: center;
  display: block;
  font-size: var(--font-size-x-large);
}
.description-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}
