@font-face {
  font-family: Lato-Regular;
  src: url(../assets/fonts/Lato-Regular.ttf);
}
body {
  min-width: 340px;
  width: 100%;
  min-height: 100vh;
  background-color: #ccdeff;
  font-family: Lato-Regular, sans-serif;
}

main {
  width: 100%;
  height: auto;
  padding: var(--spacing-medium);
}

.instruction__text {
  position: relative;
  top: 200px;
  padding: var(--spacing-medium);
  text-align: center;
  font-size: var(--font-size-large);
}

.component__container {
  display: none;
}

.component__container--active {
  display: block;
}

/* Button Section */
.buttons__component-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards__component-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-large);
  padding: var(--spacing-medium);
}

.accordion__component-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-large);
  padding: var(--spacing-large);
  overflow-y: auto;
}

.search__component-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);
}

.tabs__component-container {
  height: calc(100vh - 8rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;
}

.counter__component-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-x-large);
}

.popup__component-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip__component-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-medium);
  gap: var(--spacing-x-large);
}

/* Media queries --------------- */
@media screen and (max-width: 768px) {
  .accordion__component-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 560px) {
  .cards__component-container {
    height: auto;
    gap: var(--spacing-medium);
  }
}
